<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<body>



<div class="w3-bar w3-black">
  <a href="{% url 'get_balance' %}" class="w3-bar-item w3-button" >Wallet</a>
  <a href="{% url 'display_transaction' %}" class="w3-bar-item w3-button" >Transactions </a>
  <a href="{% url 'get_blockchain' %}" class="w3-bar-item w3-button" >Blocks </a>
</div>


<div id="Transactions" class="w3-container tab">
  <h2>Transactions</h2><br>
  <form action="{% url 'do_transaction' %}" method="POST">
    {% csrf_token %}
    <input style="width: 25%;" type="text" name="address" placeholder="Sender Wallet Address" class="form-control">
    <br>
    <input style="width: 25%;" type="text" name="amount" placeholder="Amount" class="form-control">
    <br>
    <input type="submit" style="margin-left: 10%;" class="btn btn-success">
  </form>
</div>

</body>
</html>
